<!DOCTYPE html>
<html>
<head>
	<title> Welcome to the Pokemon Arena !</title>
	<meta charset="utf-8">
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	{% endblock %}
</head>

<body>
	<div>
	<hi>Welcome to the POKEMON ARENA!</hi>
	    <p>
	        <a href="{{path('app_login')}}"> Login </a>
	        <p>Sign Up</p>
	    </p>
	</div>
</body>