<!DOCTYPE html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	{% endblock %}
</head>
<body>
	<div class="example-wrapper">
		<hi>Hello {{app.user.username}}!</hi>
	    <p>My Pokemon</p>
	    <p><a href="{{path('backpack_index')}}">My backpack</a></p>
	    <p>Fight</p>
	    <p><a href="{{path('app_index')}}">Logout</p>
	</div>
</body>